html, body{
    height: 100%;
    background-color: #F8F8FF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.screen{
    width: 100%;
    height: 14%;
    font-size: 50px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-areas: "clear clear delete divide"
                         "seven eight nine multiply"
                          "four five six minus"
                          "one two three plus"
                         "zero zero zero equal";
    height: 86%;
}
.calculator{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    margin: 100px auto ;
}

.screen{
    background-color: black;
    grid-area: screen;
    color: white;
    padding: 10px;
}

.one{
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.zero {
    grid-area: zero;
}

.plus {
    grid-area: plus;
}

.minus {
    grid-area: minus;
}

.multiply {
    grid-area: multiply;
}

.divide {
    grid-area: divide;
}

.equal {
    grid-area: equal;
}

.clear {
    grid-area: clear;
}

.delete {
    grid-area: delete;
    font-size: 30px;
}

.operator {
    background-color: peru;
    color: white;
}

.number {
    color: black;
}

button {
    background-color: lightgray;
    outline: none;
    cursor: pointer;
    border: black 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.number:hover {
    background-color: #E0E0E0;
    color: black;
}

.operator:hover {
    background-color: #DFB184;
    color: white;
}
